<div class="container" *ngIf="!firstFormSubmitted; else additionalFill">
    <span class="ff-bold sm-font alt-blacken">Personal details</span>
    <div class="form-container">
        <form class="padding-1rem mt-1rem" [formGroup]="personalDetailsForm">
            <div class="row">
                <div class="col">
                    <span class="ff-regular fs-14">Residential Status</span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('residentialStatus').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="residentialStatus" placeholder="Select residential status" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let residentialStatus of resiStatuses" value="residentialStatus.value" (click)="assignDropdownVal('residentialStatus', residentialStatus.label)">{{ residentialStatus.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg residentialStatus-err' *ngIf="formSubmitted && personalDetailsForm.get('residentialStatus').hasError('required')">Residential Status field is required
                        </p>
                    </div>

                    <div class="formField">
                        <input type="text" placeholder="Enter your PIN" formControlName="currentPin"
                        [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('currentPin').hasError('required') }">
                        <label class="input_label">Current Pincode</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && personalDetailsForm.get('currentPin').hasError('required')">
                    Current Pincode field is required </p>

                    <div class="formField">
                        <input type="text" placeholder="Enter your Mother's Name" formControlName="mothersName"
                        [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('mothersName').hasError('required') }">
                        <label class="input_label">Mother's Name</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && personalDetailsForm.get('mothersName').hasError('required')">
                    Mother's Name field is required </p>

                    <span class="ff-regular fs-14">Marital Status</span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('maritalStatus').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="maritalStatus" placeholder="Select marital status" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let maritalStatus of maritalStatuses" value="maritalStatus.value" (click)="assignDropdownVal('maritalStatus', maritalStatus.label)">{{ maritalStatus.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg maritalStatus-err' *ngIf="formSubmitted && personalDetailsForm.get('maritalStatus').hasError('required')">Marital Status field is required
                        </p>
                    </div>

                    <span class="ff-regular fs-14">Education</span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('education').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="education" placeholder="Select range" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let education of eduStatuses" value="education.value" (click)="assignDropdownVal('education', education.label)">{{ education.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg education-err' *ngIf="formSubmitted && personalDetailsForm.get('education').hasError('required')">Education field is required
                        </p>
                    </div>

                    <span class="ff-regular fs-14">Occupation</span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('occupation').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="occupation" placeholder="Select range" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let occupation of occuStatuses" value="occupation.value" (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg occupation-err' *ngIf="formSubmitted && personalDetailsForm.get('occupation').hasError('required')">Occupation field is required
                        </p>
                    </div>

                    <div class="formField">
                        <input type="text" placeholder="Enter your PAN Number" formControlName="panNo"
                        [ngClass]="{'errorInput': formSubmitted && personalDetailsForm.get('panNo').hasError('required') }">
                        <label class="input_label">PAN</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && personalDetailsForm.get('panNo').hasError('required')">
                    PAN Number field is required </p>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #additionalFill>
    <div class="container">
        <span class="ff-bold sm-font alt-blacken">Additional details</span>
        <div class="form-container">
            <form class="padding-1rem mt-1rem" [formGroup]="additionalDetailsForm">
                <div class="row">
                    <div class="col">
                        <!-- additional form -->
                        <div class="row mb-24">
                            <div class="col-6">
                                <p class="fs-14 ff-regular"> Height (In cms) </p>
                                <button class="button-text minus" (click)="dec('height')"></button>
                                <input class="hw-input m-0" value="000"
                                [ngClass]="{'errorInput': firstFormSubmitted && (additionalDetailsForm.get('height').hasError('required')) }"
                                readonly type="text" formControlName="height">
                                <span class="L-text ff-bold">{{height}}</span>
                                <button class="button-text plus" (click)="inc('height')"></button>
                            </div>
                            <div class="col-6">
                                <p class="fs-14 ff-regular"> Weight (In kgs) </p>
                                <button class="button-text minus" (click)="dec('weight')"></button>
                                <input class="hw-input m-0" value="00"
                                [ngClass]="{'errorInput': firstFormSubmitted && (additionalDetailsForm.get('weight').hasError('required')) }"
                                readonly type="text" formControlName="weight">
                                <span class="L-text ff-bold">{{weight}}</span>
                                <button class="button-text plus" (click)="inc('weight')"></button>
                            </div>
                        </div>
                        <p class='errorMsg'
                        *ngIf="firstFormSubmitted && (additionalDetailsForm.get('height').hasError('required') || additionalDetailsForm.get('weight').hasError('required'))">
                        Height/Weight fields are required
                        </p>

                        <div class="block">
                            <p>Do you consume <span class="ff-bold">more than 10 cigarettes per day?</span></p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='smoker' value="Yes" formControlName='smoker'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='smoker' value="No" formControlName='smoker'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='smoker == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Do you chew <span class="ff-bold">more than 5 pouches of tobacco?</span></p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='tobacco' value="Yes" formControlName='tobacco'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='tobacco' value="No" formControlName='tobacco'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='tobacco == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Do you consume more than <span class="ff-bold">2 pegs of alcohol per day</span> in any form?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='alcohol' value="Yes" formControlName='alcohol'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='alcohol' value="No" formControlName='alcohol'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='alcohol == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Do you consume any <span class="ff-bold">narcotics (for medical/recreational purposes)?</span></p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='narcotics' value="Yes" formControlName='narcotics'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='narcotics' value="No" formControlName='narcotics'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='narcotics == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Were you <span class="ff-bold">hospitalised more than 10 consecutive days</span> in 4 years?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='hospitalized' value="Yes" formControlName='hospitalized'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='hospitalized' value="No" formControlName='hospitalized'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='hospitalized == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Have you ever suffered from or <span class="ff-bold">diagnosed with or treated for HIV/AIDS</span> infection?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='hiv' value="Yes" formControlName='hiv'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='hiv' value="No" formControlName='hiv'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='hiv == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Are any of your <span class="ff-bold">family members</span> suffering from / have suffered from / have died of heart disease, stroke, high blood pressure, diabetes mellitus, cancer, kidney disease, paralysis or any other hereditary / familial disorders, tuberculosis or any contagious diseases such as Hepatitis, AIDS / HIV etc. or any other diseases not stated above,<span class="ff-bold"> before 60 years of age?</span></p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='familySuffered' value="Yes" formControlName='familySuffered'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='familySuffered' value="No" formControlName='familySuffered'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='familySuffered == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()">PROCEED</button>
    </ng-container>
</app-footer>