.button-text.minus {
    left: 16px;
    top: 30px;
}

.button-text.plus {
    /* right: 7px; */
    right: 16px;
    top: 30px;
}

.hw-input {
    /* min-width: 150px !important; */
    text-align: center !important;
    border-color: var(--med-gray-border);
}

.L-text {
    position: absolute;
    top: 40px;
    right: 80px;
}

.container {
    height: 80vh;
}

.profile-pic-card {
    width: 140px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 16px 28px;
    box-shadow: var(--gray-border-color) 1px 2px;
}

.profile-upload-bg {
    width: 36px;
    height: 28px;
}

.profile-upload-fg {
    position: absolute;
    top: 24px;
    width: 12px;
    height: 13px;
}

.profile-pic-uploaded-card {
    width: 140px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    box-shadow: var(--gray-border-color) 1px 2px;
}

.profile-img {
    width: 80px;
    height: 80px;
}

.edit-profile-pic-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 14px;
    right: 20px;
}

.disease-modal-body {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.disease-modal-footer-btn {
    width: -webkit-fill-available !important;
}