<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item align-right">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container padding-1rem">
        <span class="ff-bold smd-font">Welcome! Give us your basic details to start with.</span>
        <form class="padding-1rem tm-1rem" [formGroup]="detailsForm">
            <div class="row">
                <div class="col">
                    <div class="formField">
                        <input type="text" placeholder="Enter your Name" value="reshma.w@gmail.com" formControlName="name"
                          [ngClass]="{'errorInput': formSubmitted && detailsForm.get('name').hasError('required') }">
                        <label class="input_label">Name</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('name').hasError('required')">
                    Name field is required </p>

                    <div class="formField">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn badge-btns active">
                              <input type="radio" name="options" id="option1"> Male
                            </label>
                            <label class="btn badge-btns">
                              <input type="radio" name="options" id="option2"> Female
                            </label>
                            <label class="btn badge-btns">
                              <input type="radio" name="options" id="option3"> Transgender
                            </label>
                        </div>
                        <label class="input_label">My Gender</label>
                    </div>

                    <div class="formField calendar pt-20" [ngClass]="{'mb-48': ageCalc(), 'mb-26': !ageCalc()}">
                        <input [ngClass]="{'errorInput': formSubmitted && detailsForm.get('birthdate').hasError('dateVaidator') || formSubmitted && detailsForm.get('birthdate').hasError('required') }" class="m-0" readonly placeholder="10/07/1975" formControlName="birthdate"
                            ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" (ngModelChange)='ageCalc()' [minDate]="minDate">
                        <span class="icon" (click)="datePicker.toggle()"></span>
                        <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('birthdate').hasError('required')">Date Of Birth field is required
                        </p>
                        <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('birthdate').hasError('dateVaidator')">Please enter a valid date</p>
                        <label class="input_label">Date Of Birth</label>
                    </div>
                    <span *ngIf="ageCalc()" class="ff-medium fs-14 age"> {{ageCalc()}} years </span>

                    <span class="ff-regular fs-14">Annual Income <span class="gray-text ff-italic">(in lacs)</span></span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && detailsForm.get('income').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="income" placeholder="Select range" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let inc of incomes" value="inc.value" (click)="assignDropdownVal('income', inc.label)">{{ inc.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg income-err' *ngIf="formSubmitted && detailsForm.get('income').hasError('required')">Annual income field is required
                        </p>
                    </div>

                    <span class="ff-regular fs-14">Mobile Number</span>
                    <div class="formField">
                        <div
                            [ngClass]="{'errorInput': formSubmitted && detailsForm.get('phoneNumber').hasError('required') || formSubmitted && detailsForm.get('phoneNumber').hasError('validatePhoneNumber') }">
                            <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                                [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="true"
                                name="phoneNumber" formControlName="phoneNumber">
                            </ngx-intl-tel-input>
                        </div>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('phoneNumber').hasError('required')">
                        Mobile Number field is required </p>
        
                    <p class='errorMsg'
                        *ngIf="formSubmitted && (!detailsForm.get('phoneNumber').hasError('required') && detailsForm.get('phoneNumber').hasError('validatePhoneNumber'))">
                        Please enter a valid Mobile Number </p>

                    <div class="mt-26 formField">
                        <input type="email" placeholder="Enter your Email ID" value="reshma.w@gmail.com" formControlName="emailId"
                          [ngClass]="{'errorInput': formSubmitted && detailsForm.get('emailId').hasError('email') || formSubmitted && detailsForm.get('emailId').hasError('required') }">
                        <label class="input_label">Email ID</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('emailId').hasError('required')">
                    Email ID field is required </p>
                    <p class='errorMsg' *ngIf="formSubmitted && detailsForm.get('emailId').hasError('email')">
                    Please enter valid Email ID </p>

                    <div>
                        <label class="checkbox small">
                          <input type="checkbox" name='acceptPolicy' [(ngModel)]='acceptPolicy' [ngModelOptions]="{standalone: true}">
                          <div class="sec-color fs-14">
                            By submitting this form, I agree to KLI and its representatives contacting me through call, SMS, email or WhatsApp even if I am registered under NDNC. I also agree that I have read and understood the Privacy policy and agree to abide by the same
                          </div>
                          <span class="tick"></span>
                        </label>
                        <p class='errorMsg' *ngIf="formSubmitted && !acceptPolicy">
                          * This field is required </p>
                      </div>
                </div>
            </div>            
        </form>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn footer-btn" (click)="goToDetailsTwo()">PROCEED</button>
    </ng-container>
</app-footer>
