.container {
    margin: 0;
    padding: 0;
    background-color: var(--blue-bg-1);
}

.form-container {
    height: 100%;
    padding: 1rem;
}

form {
    background-color: #fff;
}

.footer-btn {
    float: right;
    color: #fff;
    background-color: var(--red-bg);
    width: 8.875rem;
    height: 2.75rem;
    margin: 0.875rem 1.5rem;
    border-radius: 1.875rem;
}