<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <span class="ff-bold sm-font">Upload required documents</span>
        <div class="mt-1rem padding-1rem card pan-card">
            <div>
                <span class="ff-medium">Upload Pancard</span>
                <img class="float-right m-0" src="assets/images/collapse-icon.svg" alt="collapse">
            </div>
            <div class="mt-1rem upload-form flex-center">
                <img class="upload-img" src="assets/images/upload.svg" alt="upload">
                <span class="fs-12 ff-bold">UPLOAD PHOTO</span>
            </div>
        </div>

        <div class="mt-1rem padding-1rem card pan-card">
            <div>
                <span class="ff-medium">Proof of Permanent Address</span>
                <img class="float-right m-0" src="assets/images/collapse-icon.svg" alt="collapse">
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn badge-btns active">
                  <input type="radio" name="options" id="option1"> Aadhaar Card
                </label>
                <label class="btn badge-btns">
                  <input type="radio" name="options" id="option2"> Passport
                </label>
            </div>
            <div class="mt-1rem upload-form flex-center">
                <img class="upload-img" src="assets/images/upload.svg" alt="upload">
                <span class="fs-12 ff-bold">UPLOAD FRONT PHOTO</span>
            </div>
            <div class="mt-1rem mb-1rem upload-form flex-center">
                <img class="upload-img" src="assets/images/upload.svg" alt="upload">
                <span class="fs-12 ff-bold">UPLOAD BACK PHOTO</span>
            </div>
            <span class="ff-medium fs-14px">Don’t have Aadhaar or Passport?</span>
            <span class="mt-8 mb-8 ff-medium fs-14px red-text">Upload other address proof</span>
            <div ngbDropdown>
                <input class="mt-0 mb-0 dropdown-toggle" readonly placeholder="Select" ngbDropdownToggle><span ngbDropdownToggle></span>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let adProof of addressProofs" value="adProof.value" (click)="assignDropdownVal(adProof.label)">{{ adProof.label }}</button>
                </div>
            </div>
        </div>

        <div class="mt-1rem padding-1rem card pan-card">
            <div>
                <span class="ff-medium">Age Proof</span>
                <img class="float-right m-0" src="assets/images/expand-icon.svg" alt="expand">
            </div>
        </div>

        <div class="mt-1rem padding-1rem card pan-card">
            <div>
                <span class="ff-medium">ID Proof</span>
                <img class="float-right m-0" src="assets/images/expand-icon.svg" alt="expand">
            </div>
        </div>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()">PROCEED</button>
    </ng-container>
</app-footer>
