<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <div class="mt-1rem card congrats-card">
            <img class="mx-auto congrats-img" src="assets/images/congratulations-icon.svg" alt="congrats">
            <span class="ff-medium sm-font blacken text-center mb-10">Congratulations</span>
            <span class="ff-regular fs-14px blacken text-center">Your application is completed successfully.</span>
            <span class="ff-bold text-center blacken mb-42">Your policy cover begins Soon!!</span>
            <span class="ff-regular fs-14px text-center">Your Proposal ID</span>
            <span class="ff-medium md-font blue text-center mb-40">34126</span>
            <div class="download-form flex-center">
                <img class="download-img" src="assets/images/download-2.svg" alt="download">
                <span class="fs-12 ff-bold">DOWNLOAD PROPOSAL</span>
            </div>
            <span class="mt-2rem mb-40 blue fs-12 ff-bold text-center"><u>TRACK YOUR POLICY</u></span>
        </div>

        <div class="mt-1rem card congrats-card">
            <span class="ff-medium blacken text-center mt-28 mb-10">Give Us Some Feedback</span>
            <span class="ff-regular fs-14px blacken text-center">How would you rate our policy buying process?</span>
            <div class="mt-24 mb-24 feedback-icon-container">
                <img class="feedback-icons" src="assets/images/feedback-great.svg" alt="great">
                <img class="feedback-icons" src="assets/images/feedback-good.svg" alt="good">
                <img class="feedback-icons" src="assets/images/feedback-okay.svg" alt="okay">
                <img class="feedback-icons" src="assets/images/feedback-bad.svg" alt="bad">
                <img class="feedback-icons" src="assets/images/feedback-verybad.svg" alt="verybad">
            </div>
            <span class="ff-regular fs-14px blacken text-center">How would you rate our pricing and structure?</span>
            <div class="mt-24 mb-24 feedback-icon-container">
                <img class="feedback-icons" src="assets/images/feedback-great.svg" alt="great">
                <img class="feedback-icons" src="assets/images/feedback-good.svg" alt="good">
                <img class="feedback-icons" src="assets/images/feedback-okay.svg" alt="okay">
                <img class="feedback-icons" src="assets/images/feedback-bad.svg" alt="bad">
                <img class="feedback-icons" src="assets/images/feedback-verybad.svg" alt="verybad">
            </div>
            <hr class="mt-0">
            <span class="ff-medium blacken text-center mt-28 mb-10">Refer Someone You Know</span>
            <input class="m-0" placeholder="Name">
            <input class="mt-1rem" placeholder="Mobile Number">
        </div>

        <div class="mt-1rem card congrats-card">
            <span class="ff-medium sm-font blacken text-center mt-28 mb-1rem">Our Other Products</span>
            <img class="mx-auto other-products-img mb-1rem" src="assets/images/kotak-other-products-image/drawable-hdpi/kotak-other-products-image.png">
            <span class="ff-medium blacken text-center">Kotak e-Term Plan</span>
            <span class="ff-regular fs-14px blacken text-center mb-24">Kotak e-Term Plan is a pure term plan that provides a high level of protection to your loved ones in your absence.</span>
            <div>
                <button class="m-0 float-left btn btn-left"><span class="ff-bold fs-14px">KNOW MORE</span></button>
                <button class="m-0 float-right btn btn-right"><span class="ff-bold fs-14px">BUY NOW</span></button>
            </div>
        </div>
    </div>
</div>
