<div class="msg-on-top">
    <pre class="ff-medium">
Do you know medical costs in India are
increasing by 20% per year?

<span class="ff-bold lg-font">Don't wait,</span>
<span class="ff-medium md-font">secure your family health with</span>
<span class="ff-bold sm-font">Kotak Health Shield !!</span>
    </pre>

    <div class="cropped-img-wrapper">
        <img class="cropped-image" src="assets/images/cropped-image/drawable-hdpi/cropped-image.png" alt="cropped-image">
    </div>
</div>

<div class="content-container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">No medical</h5>
                    <p class="card-text">No medical examination is required for this plan</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/images/lp-card-1.svg" class="card-img" alt="doc">
            </div>
        </div>
    </div>

    <footer>
        <button type="button" class="btn footer-btn">PROCEED</button>
    </footer>
</div>

