<div class="parallax">
    <div class="parallax__layer--back">
        <div class="msg-on-top">
            <span class="ff-medium top-msg font-1rem">
                Do you know medical costs in India are
                increasing by 20% per year?
                <p></p><p></p>
                <span class="ff-bold lg-font">Don't wait,</span><br>
                <span class="ff-medium smd-font">secure your family health with</span><br>
                <span class="ff-bold md-font">Kotak Health Shield !!</span>
            </span>
        
            <div class="cropped-img-wrapper">
                <img class="cropped-image" src="assets/images/cropped-image/drawable-hdpi/cropped-image.png" alt="cropped-image">
            </div>
        </div>
    </div>
    <div class="parallax__layer--base">
        <div class="content-container">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">No medical</h5>
                            <p class="card-text">No medical examination is required for this plan</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/lp-card-1.svg" class="card-img" alt="doc">
                    </div>
                </div>
            </div>
        
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="assets/images/lp-card-2.svg" class="card-img" alt="doc">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Reimbursement</h5>
                            <p class="card-text">Reimbursement of Health Check Up cost</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Claim free</h5>
                            <p class="card-text">Cumulative Bonus is also available on claim free years</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/lp-card-3.svg" class="card-img" alt="doc">
                    </div>
                </div>
            </div>
        
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="assets/images/kotak.svg" class="card-img" alt="doc">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Discount</h5>
                            <p class="card-text">Get a Kotak relationship discount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn footer-btn" (click)="goToDetails()">PROCEED</button>
    </ng-container>
</app-footer>