.discount-card {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
}

.discount-icon {
    width: 14px;
    height: 14px;
    margin: 0 6px 0 0;
}

.discount-text {
    color: #000;
}

.discount-form {
    border: none;
}

.added-benefits-card {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
}

.blacken {
    color: var(--alt-black-bg);
}

.info-icon {
    width: 14px;
    height: 14px;
    margin: 0 0 2px 4px;       
}

.gray-text {
    color: var(--alt-gray-text-1);
}

hr {
    margin-top: 1rem;
    color: var(--light-gray-border);
}

.amount-text {
    color: var(--blue-theme-color);
    position: absolute;
    top: 19px;
    left: 1rem;
}

.amount-subtitle {
    color: var(--alt-gray-text-1);
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.ftr-dd-btn {
    position: absolute;
    left: 80px;
    bottom: -2.25rem;
    outline: none;
    border: none;
}