.align-right {
    float: right;
}

hr {
    background-color: var(--alt-light-gray-border);
}

.container {
    height: 80vh;
}

a {
    color: var(--blue-theme-color) !important;
}

.modal-footer {
    box-shadow: none;
}

.footer-btn {
    width: -webkit-fill-available;
}