hr {
    background-color: var(--alt-light-gray-border);
}

.container {
    height: 80vh;
}

.symptom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 1rem;
    width: 172px;
}

.custom-switch {
    position: absolute;
    right: 1rem;
}

.symptom-details-card {
    position: absolute;
    bottom: -200px;
    padding: 1rem;
    width: 270px;
    background-color: var(--blue-bg-1);
    border: none !important;
}

.symptom-details-text {
    width: 142px;
}

.symptom-details-switch {
    right: 8px;
}

.travel-modal-body {
    margin: 0 1rem;
    overflow-y: hidden;
}

.hint-text {
    position: absolute;
    top: 88px;
    font-size: 12px;
    color: #5C5D73;
}

.covid-modal-body {
    margin: 0 1rem;
}

.covid-text {
    position: absolute;
    left: -16px;
}

.covid-switch {
    position: absolute;
    right: -6rem !important;
}

.modal-footer {
    box-shadow: none;
}

.modal-footer .footer-btn {
    width: -webkit-fill-available;
}

/* plan update card styles */
.card {
    border: solid 1px var(--light-gray-border);
    border-radius: 5px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 4px;
}

.info-icon {
    width: 13.41px;
    height: 13.41px;
    margin: 0;
    position: relative;
    bottom: 1px;
}

.gray-text {
    color: var(--alt-gray-text);
}

.card-text {
    width: 160px;
    margin-bottom: 12px;
    padding-right: 0;
}

.years-input-container, img {
    width: 14px;
    height: 14px;
}

.button-text.minus {
    left: 26px;
}

.button-text.plus {
    right: 17px;
}

.L-text {
    position: absolute;
    top: 13px;
    right: 57px;
}

.years-input {
    width: 112px;
    position: absolute;
    right: 1rem;
    text-align: center;
    margin-top: 0;
    border: solid 1px var(--med-gray-border);
    border-radius: 3px;
}

.caption {
    position: absolute;
    top: 50px;
    left: 42px;
}