<div class="container" *ngIf="!firstFormSubmitted; else additionalFill">
    <span class="ff-bold sm-font alt-blacken">Policy & health</span>
    <div class="form-container">
        <form class="padding-1rem mt-1rem" [formGroup]="criticalIllnessForm">
            <div class="row">
                <div class="col">
                    <span class="ff-medium">Critical Illness</span>
                    <img class="align-right m-0" src="assets/images/selected.svg" alt="selected">
                    <hr class="mt-24">

                    <div class="block mt-24">
                        <p>Do you have any <span class="ff-bold">critical Illness cover (policies/riders)</span> Or applied for CI at any time From any other insurance Co.?</p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='ciCover' value="Yes" formControlName='ciCover'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='ciCover' value="No" formControlName='ciCover'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='ciCover == undefined && error'> * This field is required </p>
                        </div>
                    </div>

                    <div class="block mt-24">
                        <p>Have you <span class="ff-bold">ever made any claim</span> under any Health/CI cover?</p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='ciClaim' value="Yes" formControlName='ciClaim'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='ciClaim' value="No" formControlName='ciClaim'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='ciClaim == undefined && error'> * This field is required </p>
                        </div>
                    </div>
                      
                    <div class="block mt-24">
                        <p>Have any of your <span class="ff-bold">health/CI cover (policies/prop Including riders)</span> ever been  Rated up/postponed/declined?</p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='ciDeclined' value="Yes" formControlName='ciDeclined'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='ciDeclined' value="No" formControlName='ciDeclined'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='ciDeclined == undefined && error'> * This field is required </p>
                        </div>
                    </div>

                    <div class="block mt-24">
                        <p>Has any of your insurance application or reinstatement application ever been <span class="ff-bold">declined, postponed or accepted</span> at extra premium or modified terms due to medical/ health grounds?</p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='insuranceUpdated' value="Yes" formControlName='insuranceUpdated'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='insuranceUpdated' value="No" formControlName='insuranceUpdated'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='insuranceUpdated == undefined && error'> * This field is required </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="padding-1rem mt-1rem" [formGroup]="covidQAndAForm">
            <div class="row">
                <div class="col">
                    <span class="ff-medium">Covid Questionnaire</span>
                    <img class="align-right m-0" src="assets/images/selected.svg" alt="selected">
                    <hr class="mt-24">

                    <div class="block mt-24">
                        <p>Are you currently <span class="ff-bold">in good health?</span></p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='goodHealth' value="Yes" formControlName='goodHealth'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='goodHealth' value="No" formControlName='goodHealth'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='goodHealth == undefined && error'> * This field is required </p>
                        </div>
                    </div>

                    <div class="block mt-24">
                        <p>Have you experienced <a class="blue" (click)="open(symptomsModal)"><u>any of the following symptoms</u></a> from <span class="ff-bold">last 3 months till date?</span></p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='symptoms' value="Yes" formControlName='symptoms'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='symptoms' value="No" formControlName='symptoms'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='symptoms == undefined && error'> * This field is required </p>
                        </div>

                        <ng-template #symptomsModal let-modal>
                            <div class="modal-header">
                              <p class="modal-title ff-medium sm-font" id="modal-basic-title">Health Symptoms</p>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true"><img class="m-0" src="assets/images/close-24px.svg" alt=""></span>
                              </button>
                            </div>
                            <div class="modal-body fs-14 px-2">
                                <div class="symptom" *ngFor="let symptom of symptoms">
                                    <span class="mt-8 mr-auto">{{symptom.title}}</span>
                                    <div class="custom-control custom-switch zoom-one-half">
                                        <input type="checkbox" class="custom-control-input m-0" [(ngModel)]="symptomState[symptom.id]"
                                        [ngModelOptions]="{standalone: true}" [id]="'symptom' + symptom.id">
                                        <label class="custom-control-label" [attr.for]="'symptom' + symptom.id">{{symptomState[symptom.id] ? 'Yes' : 'No'}}</label>
                                    </div>

                                    <div *ngIf="symptom.id != symptoms.length && symptomState[symptom.id]" class="card symptom-details-card">
                                        <span class="mt-8 mr-auto fs-12 symptom-details-text">Did you consult any doctor for the same?</span>
                                        <div class="custom-control custom-switch symptom-details-switch zoom-one-half">
                                            <input type="checkbox" class="custom-control-input m-0" [(ngModel)]="symptomState[symptom.id]"
                                            [ngModelOptions]="{standalone: true}" [id]="'symptom' + symptom.id">
                                            <label class="custom-control-label" [attr.for]="'symptom' + symptom.id">{{symptomState[symptom.id] ? 'Yes' : 'No'}}</label>
                                        </div>
                                        <input class="mb-0" type="text" placeholder="Mention given treatment">
                                        <input class="mb-0" type="text" placeholder="Exact diagnosis">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn button-primary footer-btn" (click)="modal.close()">SUBMIT</button>
                            </div>
                        </ng-template>
                    </div>
                      
                    <div class="block mt-24">
                        <a (click)="open(travelModal)"><p>Have you or your family members <span class="ff-bold">travelled overseas in last 3 months?</span></p></a>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='travelledAbroad' value="Yes" formControlName='travelledAbroad'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='travelledAbroad' value="No" formControlName='travelledAbroad'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='travelledAbroad == undefined && error'> * This field is required </p>
                        </div>

                        <ng-template #travelModal let-modal>
                            <div class="modal-header">
                              <p class="modal-title ff-medium sm-font" id="modal-basic-title">Travel Details</p>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true"><img class="m-0" src="assets/images/close-24px.svg" alt=""></span>
                              </button>
                            </div>
                            <div class="modal-body travel-modal-body fs-14 px-2">
                                <div class="formField">
                                    <input type="text" placeholder="Enter Countries" formControlName="countriesTravelled"
                                      [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('countriesTravelled').hasError('required') }">
                                    <label class="input_label">Name of Countries travelled to</label>
                                </div>
                                <span class="hint-text">Use ',' as separators.</span>

                                <div class="formField mt-26">
                                    <input type="text" placeholder="Enter Cities" formControlName="citiesTravelled"
                                      [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('citiesTravelled').hasError('required') }">
                                    <label class="input_label">Cities travelled to</label>
                                </div>
                                <span class="hint-text">Use ',' as separators.</span>

                                <div class="formField calendar pt-20 mb-26">
                                    <input [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('depDate').hasError('dateVaidator') || formSubmitted && covidQAndAForm.get('depDate').hasError('required') }" class="m-0" readonly placeholder="DD/MM/YYYY" formControlName="depDate"
                                        ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [minDate]="minDate">
                                    <span class="icon" (click)="datePicker.toggle()"></span>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('depDate').hasError('required')">Date Of Departure field is required
                                    </p>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('depDate').hasError('dateVaidator')">Please enter a valid date</p>
                                    <label class="input_label">Date Of Departure</label>
                                </div>

                                <div class="formField calendar pt-20 mb-26">
                                    <input [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('arrDate').hasError('dateVaidator') || formSubmitted && covidQAndAForm.get('arrDate').hasError('required') }" class="m-0" readonly placeholder="DD/MM/YYYY" formControlName="arrDate"
                                        ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [minDate]="minDate">
                                    <span class="icon" (click)="datePicker.toggle()"></span>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('arrDate').hasError('required')">Date Of Arrival field is required
                                    </p>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('arrDate').hasError('dateVaidator')">Please enter a valid date</p>
                                    <label class="input_label">Date Of Arrival</label>
                                </div>

                                <div class="formField">
                                    <input type="text" placeholder="Enter Purpose of Travel" formControlName="purposeOfTravel"
                                      [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('purposeOfTravel').hasError('required') }">
                                    <label class="input_label">Purpose of travel</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn button-primary footer-btn" (click)="modal.close()">SUBMIT</button>
                            </div>
                        </ng-template>
                    </div>

                    <div class="block mt-24">
                        <p>Are you or your family members <span class="ff-bold">planning to travel</span> in next 6 months?</p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='willTravel' value="Yes" formControlName='willTravel'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='willTravel' value="No" formControlName='willTravel'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='willTravel == undefined && error'> * This field is required </p>
                        </div>
                    </div>
 
                    <div class="block mt-24">
                        <a (click)="open(covidModal)"><p>In last 3 months, were you or your family members advised to be<span class="ff-bold">Quarantined/ isolated for (SARS-CoV-2/ COVID 19)?</span></p></a>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='quarantined' value="Yes" formControlName='quarantined'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='quarantined' value="No" formControlName='quarantined'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='quarantined == undefined && error'> * This field is required </p>
                        </div>

                        <ng-template #covidModal let-modal>
                            <div class="modal-header">
                              <p class="modal-title ff-medium sm-font" id="modal-basic-title">Quarantine Details</p>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true"><img class="m-0" src="assets/images/close-24px.svg" alt=""></span>
                              </button>
                            </div>
                            <div class="modal-body covid-modal-body fs-14 px-2">
                                <div class="formField calendar pt-20 mb-26">
                                    <input [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('quarantineDate').hasError('dateVaidator') || formSubmitted && covidQAndAForm.get('quarantineDate').hasError('required') }" class="m-0" readonly placeholder="DD/MM/YYYY" formControlName="quarantineDate"
                                        ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [minDate]="minDate">
                                    <span class="icon" (click)="datePicker.toggle()"></span>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('quarantineDate').hasError('required')">Date Of Quarantine field is required
                                    </p>
                                    <p class='errorMsg' *ngIf="formSubmitted && covidQAndAForm.get('quarantineDate').hasError('dateVaidator')">Please enter a valid date</p>
                                    <label class="input_label">Date Of Quarantine</label>
                                </div>

                                <div class="formField">
                                    <input type="text" placeholder="Enter Reason of Quarantine" formControlName="reasonOfQuarantine"
                                      [ngClass]="{'errorInput': formSubmitted && covidQAndAForm.get('reasonOfQuarantine').hasError('required') }">
                                    <label class="input_label">Details/ Reason of Quarantine</label>
                                </div>

                                <div class="formField mt-26 symptom">
                                    <span class="covid-text mt-8 mr-auto">Have you taken SARS-CoV-2/ Covid-19 Test?</span>
                                    <div class="custom-control custom-switch zoom-one-half covid-switch">
                                        <input type="checkbox" class="custom-control-input m-0" [(ngModel)]="covidTested"
                                        [ngModelOptions]="{standalone: true}" id="covidTestedId">
                                        <label class="custom-control-label" for="covidTestedId">{{ covidTested ? 'Yes' : 'No'}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn button-primary footer-btn" (click)="modal.close()">SUBMIT</button>
                            </div>
                        </ng-template>
                    </div>

                    <div class="block mt-24">
                        <p>Have you or your family members ever been <span class="ff-bold">tested positive for novel coronavirus (SARS-CoV-2/ COVID 19)?</span></p>
                        <div class="formField">
                            <label class="radioTick small">
                            <input type="radio" name='covidPositive' value="Yes" formControlName='covidPositive'>
                            <div> Yes </div>
                            <span class="tick"></span>
                            </label>
                            <label class="radioTick small">
                            <input type="radio" name='covidPositive' value="No" formControlName='covidPositive'>
                            <div>
                                No
                            </div>
                            <span class="tick"></span>
                            </label>
                            <p class="errorMsg" *ngIf='covidPositive == undefined && error'> * This field is required </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #additionalFill>
    <div class="container" *ngIf="!updatePlanTrigerred">
        <span class="ff-bold sm-font alt-blacken">Personal health details</span>
        <div class="form-container">
            <form class="padding-1rem mt-1rem" [formGroup]="livoShieldForm">
                <div class="row">
                    <div class="col">
                        <span class="ff-medium">Details for Livo Shield</span>
                        <img class="align-right m-0" src="assets/images/selected.svg" alt="selected">
                        <hr class="mt-24">
    
                        <div class="block mt-24">
                            <p>Have you ever been investigated for, diagnosed with, been <span class="ff-bold">hospitalized or been treated for diseases related to the liver or bile ducts</span> (Hepatitis B, Hepatitis C, Cirrhosis of liver, Wilson’s Disease, Primary Sclerosing Cholangitis, Primary Biliary Cholangitis, Alcohol related liver disease, liver failure)?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='livoHospitalized' value="Yes" formControlName='livoHospitalized'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='livoHospitalized' value="No" formControlName='livoHospitalized'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='livoHospitalized == undefined && error'> * This field is required </p>
                            </div>
                        </div>
    
                        <div class="block mt-24">
                            <a (click)="updatePlan()"><p>Have you suffered from or are you currently suffering from any of the following symptoms: <span class="ff-bold">blood in stool/ vomit, fluid in abdomen(ascites), swelling in both legs?</span></p></a>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='bloodIssue' value="Yes" formControlName='bloodIssue'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='bloodIssue' value="No" formControlName='bloodIssue'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='bloodIssue == undefined && error'> * This field is required </p>
                            </div>
                        </div>
                          
                        <div class="block mt-24">
                            <p>Have you undergone or been <span class="ff-bold">told to undergo investigations of liver/bile ducts</span> using MRI, endoscopy, Fibro scan, USG of abdomen (for liver disease) or tumor markers?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='mri' value="Yes" formControlName='mri'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='mri' value="No" formControlName='mri'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='mri == undefined && error'> * This field is required </p>
                            </div>
                        </div>
    
                        <div class="block mt-24">
                            <p>Have you been told <span class="ff-bold">you need surgery or biopsy of the liver or bile ducts</span> (liver transplant, hepatectomy)?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='surgery' value="Yes" formControlName='surgery'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='surgery' value="No" formControlName='surgery'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='surgery == undefined && error'> * This field is required </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form class="padding-1rem mt-1rem">
                <div class="row">
                    <div class="col">
                        <span class="ff-medium">Details for Cancer Shield</span>
                        <img class="align-right m-0" src="assets/images/radio-inactive.svg" alt="selected">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="updatePlanTrigerred" class="container">
        <span class="ff-bold smd-font">Plan Update</span><br>
        <form class="padding-1rem mt-1rem">
            <div class="row">
                <div class="col">
                    <div class="card mb-1rem">
                        <div class="card-body row">
                            <div class="card-text col-6">
                                <h6 class="card-title">
                                    Cardiac Shield
                                    <!-- <img class="info-icon" src="assets/images/info-icon.svg" alt="info"> -->
                                </h6>
                                <span class="subtitle gray-text ff-regular fs-12">4 out of 10 people face cardiac issues</span>
                            </div>
                            <div class="col-6 years-input-container">
                                <button class="button-text minus" (click)="dec()"></button>
                                <input readonly class="years-input" type="text">
                                <span class="L-text ff-bold">{{cardiacShieldDuration}} L</span>
                                <button class="button-text plus" (click)="inc()"></button>
                                <span class="fs-12 caption">Just &#x20B9; <strong>7</strong> per day</span>
                            </div>
                        </div>
                    </div>
                    <span class="fs-12 ff-regular">We’re sorry, we could not acquire approval for your <span class="blue">cancer shield</span> and <span class="blue">livo shield</span> insurance.</span>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()">PROCEED</button>
    </ng-container>
</app-footer>
