.align-right {
    float: right;
}

hr {
    background-color: var(--alt-light-gray-border);
}

.container {
    height: 80vh;
}

.symptom-modal-body { 
    overflow-y: hidden;
}

.symptom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 1rem;
    width: 172px;
}

.custom-switch {
    position: absolute;
    right: 1rem;
}

.travel-modal-body {
    margin: 0 1rem;
    overflow-y: hidden;
}

.hint-text {
    position: absolute;
    top: 88px;
    font-size: 12px;
    color: #5C5D73;
}

.covid-text {
    position: absolute;
    left: -16px;
}

.covid-switch {
    position: absolute;
    right: -6rem !important;
}

.modal-footer {
    box-shadow: none;
}

.modal-footer .footer-btn {
    width: -webkit-fill-available;
}