<div class="container">
    <div class="form-container">
        <span class="ff-bold sm-font">Payout Details</span>  
        <form class="mt-1rem padding-1rem" [formGroup]="paymentForm">
            <div class="row">
                <div class="col">
                    <span class="ff-bold sm-font">Here’s where we will deposit your refunds and benefits of Health Shield</span>
                    <div class="formField mt-26">
                        <span class="ff-regular fs-14px">Select Account Type</span>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn badge-btns active">
                              <input type="radio" name="options" id="option1"> Savings A/C
                            </label>
                            <label class="btn badge-btns">
                              <input type="radio" name="options" id="option2"> Current A/C
                            </label>
                        </div>
                    </div>

                    <div class="formField">
                        <input type="text" placeholder="Enter Account No" formControlName="accountNo"
                          [ngClass]="{'errorInput': formSubmitted && paymentForm.get('accountNo').hasError('required') }">
                        <label class="input_label">Account Number</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && paymentForm.get('accountNo').hasError('required')">
                    Account Number field is required </p>

                    <div class="formField">
                        <input type="text" placeholder="Enter Account No" formControlName="ifscCode" class="ifsc-input"
                          [ngClass]="{'errorInput': formSubmitted && paymentForm.get('ifscCode').hasError('required') }">
                        <label class="input_label">IFSC Code</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && paymentForm.get('ifscCode').hasError('required')">
                    Account Number field is required </p>
                    <span class="ff-medium">Kotak Bank, Worli Branch</span>
                </div>
            </div>
        </form>      
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="open(paymentModal)">PROCEED</button>
    </ng-container>
</app-footer>

<ng-template #paymentModal let-modal>
    <div class="modal-body px-2 mb-35">
        <img class="verifying-img mx-auto d-block" src="assets/images/bank-verification-icon.svg" alt="verifying">
        <figcaption class="figure-caption text-center verifying-text">Verifying your Bank A/C</figcaption>
    </div>
    <span class="ff-regular fs-14px mb-40 text-center credit-text">We’ll credit Rs.1.00 to verify your account</span>
</ng-template>
