<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <span class="ff-bold sm-font">My Aadhaar / VID Number authentication</span>
        <img class="info-icon" src="assets/images/info-icon.svg" alt="info">
        <form class="mt-1rem padding-1rem mb-1rem" [formGroup]="aadhaarForm">
            <div class="row">
                <div class="col">
                    <span class="ff-regular fs-14px">Just enter the 12 digit Aadhaar or 16 digit VID number below to proceed.</span>
                    <input type="text" formControlName="aadhaarNo">
                    <div>
                        <label class="checkbox small">
                          <input type="checkbox" name='authorize' [(ngModel)]='authorize' [ngModelOptions]="{standalone: true}">
                          <div class="blue fs-13">
                            I agree and hereby authorise KLI to fetch my personal details from UIDAI. I authorise KLI to use my Aadhaar details and core biometric information to authenticate and verify my identity.  
                          </div>
                          <span class="tick"></span>
                        </label>
                        <p class='errorMsg' *ngIf="formSubmitted && !authorize">
                          * This field is required </p>
                    </div> 
                    <hr>
                    <a (click)="generateOTP()" class="blue"><u>Generate OTP</u></a>
                </div>
            </div>
        </form>

        <div *ngIf="otpGenerated">
            <span class="ff-bold sm-font">My Aadhaar OTP</span>
            <form class="mt-1rem padding-1rem" [formGroup]="otpForm">
                <div class="row">
                    <div class="col">
                        <span class="fs-14px ff-regular">Please enter your 6 digit OTP that has been sent to your mobile number registered with Aadhaar</span>
                        <input class="otp-input" type="password" formControlName="otp">
                        <a (click)="resendOtp()"><span class="resend-otp-text">Resend OTP ></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()" [disabled]="!otpGenerated">PROCEED</button>
    </ng-container>
</app-footer>