<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <span class="ff-bold smd-font">Choose a plan</span><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn badge-btns" [ngClass]="{'active': !spouse}" (click)="selfOnly()">
              <input type="radio" name="options" id="option1"> For Me
            </label>
            <label class="btn badge-btns" [ngClass]="{'active': spouse}" (click)="open(spouseDetailsModal)">
                <input type="radio" name="options" id="option2"> Me & Spouse
            </label>
        </div>

        <form class="padding-1rem mt-1rem" [formGroup]="detailsTwoForm">
            <div class="row">
                <div class="col">
                    <div class="formField mb-1rem">
                        <div class="policy-bg">
                            <span class="fs-14 ff-bold">Policy covered till age</span>
                            <input class="age-text fs-14 ff-regular" type="text" formControlName="policyDuration" placeholder="75">
                            <span class="fs-14"> years</span>
                        </div>
                    </div>

                    <!-- cards -->
                    <div class="card">
                        <div class="card-body row">
                            <div class="card-text col-6">
                                <h6 class="card-title">
                                    Cancer Shield <img class="info-icon" src="assets/images/info-icon.svg" alt="info">
                                </h6>
                                <span class="subtitle gray-text ff-regular fs-12">Average cost of cancer can go upto 20 lacs</span>
                            </div>
                            <div class="col-6 years-input-container">
                                <button class="button-text minus" (click)="dec(shields[0].id)"></button>
                                <input readonly class="years-input" type="text" value="0" formControlName="shieldTypeDuration">
                                <span class="L-text ff-bold">{{shields[0].duration}} L</span>
                                <button class="button-text plus" (click)="inc(shields[0].id)"></button>
                                <span class="fs-12 caption">Just &#x20B9; <strong>{{shields[0].perDayCharge}}</strong> per day</span>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1rem" *ngFor="let shield of shields | slice: 1; let i=index">
                        <div class="card-body row">
                            <div class="card-text col-6">
                                <h6 class="card-title">
                                    {{shield.title}} <img class="info-icon" src="assets/images/info-icon.svg" alt="info">
                                </h6>
                                <span class="subtitle gray-text ff-regular fs-12">{{shield.desc}}</span>
                            </div>
                            <div class="col-6 years-input-container">
                                <button class="button-text minus" (click)="dec(shield.id)"></button>
                                <input readonly class="years-input" type="text" value="0" formControlName="shieldTypeDuration">
                                <span class="L-text ff-bold">{{shield.duration}} L</span>
                                <button class="button-text plus" (click)="inc(shield.id)"></button>
                                <span class="fs-12 caption">Just &#x20B9; <strong>{{shield.perDayCharge}}</strong> per day</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
    </div>
</div>

<ng-template #spouseDetailsModal let-modal>
    <div class="modal-header">
        <p class="modal-title ff-medium sm-font" id="modal-basic-title">Spouse Details</p>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"><img class="m-0" src="assets/images/close-24px.svg" alt=""></span>
        </button>
    </div>
    <div class="modal-body disease-modal-body fs-14 px-2">
        <form class="padding-1rem mt-1rem" [formGroup]="spouseDetailsForm">
            <div class="row">
                <div class="col">
                    <div class="formField">
                        <input type="text" placeholder="Enter your Name" formControlName="name"
                          [ngClass]="{'errorInput': formSubmitted && spouseDetailsForm.get('name').hasError('required') }">
                        <label class="input_label">Name</label>
                    </div>
                    <p class='errorMsg' *ngIf="formSubmitted && spouseDetailsForm.get('name').hasError('required')">
                    Name field is required </p>

                    <div class="formField calendar pt-20" [ngClass]="{'mb-48': ageCalc(), 'mb-26': !ageCalc()}">
                        <input [ngClass]="{'errorInput': formSubmitted && spouseDetailsForm.get('birthdate').hasError('dateVaidator') || formSubmitted && spouseDetailsForm.get('birthdate').hasError('required') }" class="m-0" readonly placeholder="16/09/1979" formControlName="birthdate"
                            ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" (ngModelChange)='ageCalc()' [minDate]="minDate">
                        <span class="icon" (click)="datePicker.toggle()"></span>
                        <p class='errorMsg' *ngIf="formSubmitted && spouseDetailsForm.get('birthdate').hasError('required')">Date Of Birth field is required
                        </p>
                        <p class='errorMsg' *ngIf="formSubmitted && spouseDetailsForm.get('birthdate').hasError('dateVaidator')">Please enter a valid date</p>
                        <label class="input_label">Spouse Date Of Birth</label>
                    </div>
                    <span *ngIf="ageCalc()" class="ff-medium fs-14 age"> {{ageCalc()}} years </span>

                    <span class="ff-regular fs-14">Annual Income <span class="gray-text ff-italic">(in lacs)</span></span>
                    <div class="formField">
                        <div ngbDropdown>
                            <input [ngClass]="{'errorInput': formSubmitted && spouseDetailsForm.get('income').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="income" placeholder="Select range" required><span ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let inc of incomes" value="inc.value" (click)="assignDropdownVal('income', inc.label)">{{ inc.label }}</button>
                            </div>
                        </div>
                        <p class='errorMsg income-err' *ngIf="formSubmitted && spouseDetailsForm.get('income').hasError('required')">Annual income field is required
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn button-primary footer-btn spouse-modal-footer-btn" (click)="modal.close(); selectSpouse()">SUBMIT</button>
    </div>
</ng-template>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <span class="amount-text ff-bold">{{totalAmount}}</span>
        <div ngbDropdown class="d-inline-block">
            <button class="button-text ff-bold text-left" ngbDropdownToggle class="ftr-dd-btn"><span class="fs-14 ff-regular">{{annual}}</span></button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let val of annualValues" (click)="changeAnnual(val)">{{ val }}</button>
            </div>
        </div>
        <span class="amount-subtitle ff-regular fs-10">Inclusive of tax</span>
        <button type="button" class="btn footer-btn" (click)="goToStepOne()">PROCEED</button>
    </ng-container>
</app-footer>
