<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <span class="ff-bold smd-font">Choose a plan</span><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn badge-btns active">
              <input type="radio" name="options" id="option1"> For Me
            </label>
            <label class="btn badge-btns">
              <input type="radio" name="options" id="option2"> Me & Spouse
            </label>
        </div>

        <form class="padding-1rem mt-1rem" [formGroup]="detailsTwoForm">
            <div class="row">
                <div class="col">
                    <div class="formField mb-1rem">
                        <div class="policy-bg">
                            <span class="fs-14 ff-bold">Policy covered till age</span>
                            <input class="age-text fs-14 ff-regular" type="text" formControlName="policyDuration" placeholder="75">
                            <span class="fs-14"> years</span>
                        </div>
                    </div>

                    <!-- cards -->
                    <div class="card">
                        <div class="card-body row">
                            <div class="card-text col-6">
                                <h6 class="card-title">
                                    Cancer Shield <img class="info-icon" src="assets/images/info-icon.svg" alt="info">
                                </h6>
                                <span class="subtitle gray-text ff-regular fs-12">Average cost of cancer can go upto 20 lacs</span>
                            </div>
                            <div class="col-6 years-input-container">
                                <button class="button-text minus" (click)="dec(shields[0].id)"></button>
                                <input readonly class="years-input" type="text" value="0" formControlName="shieldTypeDuration">
                                <span class="L-text ff-bold">{{shields[0].duration}} L</span>
                                <button class="button-text plus" (click)="inc(shields[0].id)"></button>
                                <span class="fs-12 caption">Just &#x20B9; <strong>{{shields[0].perDayCharge}}</strong> per day</span>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1rem" *ngFor="let shield of shields | slice: 1; let i=index">
                        <div class="card-body row">
                            <div class="card-text col-6">
                                <h6 class="card-title">
                                    {{shield.title}} <img class="info-icon" src="assets/images/info-icon.svg" alt="info">
                                </h6>
                                <span class="subtitle gray-text ff-regular fs-12">{{shield.desc}}</span>
                            </div>
                            <div class="col-6 years-input-container">
                                <button class="button-text minus" (click)="dec(shield.id)"></button>
                                <input readonly class="years-input" type="text" value="0" formControlName="shieldTypeDuration">
                                <span class="L-text ff-bold">{{shield.duration}} L</span>
                                <button class="button-text plus" (click)="inc(shield.id)"></button>
                                <span class="fs-12 caption">Just &#x20B9; <strong>{{shield.perDayCharge}}</strong> per day</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <span class="amount-text ff-bold">{{totalAmount}}</span>
        <div ngbDropdown class="d-inline-block">
            <button class="button-text ff-bold text-left" ngbDropdownToggle class="ftr-dd-btn"><span class="fs-14 ff-regular">{{annual}}</span></button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let val of annualValues" (click)="changeAnnual(val)">{{ val }}</button>
            </div>
        </div>
        <span class="amount-subtitle ff-regular fs-10">Inclusive of tax</span>
        <button type="button" class="btn footer-btn" (click)="goToStepOne()">PROCEED</button>
    </ng-container>
</app-footer>
