<app-header>
    <ng-container ngProjectAs='[header]'>
        <div class="my-2 my-sm-0">
            <a class="navbar-item">
                <span class="fs-12 navbar-item-blue-text">Quote ID: 134723455</span>
            </a>
        </div>
    </ng-container>
</app-header>

<div class="container">
    <div class="form-container">
        <span class="ff-bold sm-font">Payment Details</span>
        <div class="mt-1rem card premium-card flex-center">
            <span class="ff-regular fs-14px">Premium per annum</span>
            <span class="ff-bold md-font">₹ 28,587</span>
            <span class="ff-regular fs-14px">Inclusive of tax</span>
        </div>    
        <div class="mt-24">
            <label class="checkbox small checkbox-content">
              <input type="checkbox" name='optForStandingIns' [(ngModel)]='optForStandingIns' [ngModelOptions]="{standalone: true}">
              <div class="blue fs-13">
                I opt for standing instructions for all the subsequent premium payments.
              </div>
              <span class="tick"></span>
            </label>
            <p class='errorMsg' *ngIf="formSubmitted && !optForStandingIns">
              * This field is required </p>
        </div> 
        <div class="mt-1rem card payment-mode-card" (click)="mode1Active = true; mode2Active = false">
            <div>
                <span class="ff-medium">Paying by your card or bank account</span>
                <img class="float-right m-0" [src]="mode1Active ? 'assets/images/selected.svg' : 'assets/images/radio-inactive.svg'">
            </div>
        </div>
        <div class="mt-1rem card payment-mode-card" (click)="mode2Active = true; mode1Active = false">
            <div>
                <span class="ff-medium">Paying by your card or bank account</span>
                <img class="float-right m-0" [src]="mode2Active ? 'assets/images/selected.svg' : 'assets/images/radio-inactive.svg'">
            </div>
            <div *ngIf="mode2Active">
                <hr>
                <form>
                    <input class="mt-0 mb-1rem" placeholder="Name">
                    <div ngbDropdown>
                        <input class="mt-0 dropdown-toggle" readonly placeholder="Their relationship with you" ngbDropdownToggle><span ngbDropdownToggle></span>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem *ngFor="let rel of relationships" value="rel.value" (click)="assignDropdownVal(rel.label)">{{ rel.label }}</button>
                        </div>
                    </div>
                    <div>
                        <label class="checkbox small">
                          <input type="checkbox" name='tppConsent' [(ngModel)]='tppConsent' (change)="check()" [ngModelOptions]="{standalone: true}">
                          <div class="blue fs-13">
                            TPP consent to be taken here. Need some content for it.
                          </div>
                          <span class="tick"></span>
                        </label>
                        <p class='errorMsg' *ngIf="mode2Active && formSubmitted && !tppConsent">
                          * This field is required </p>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="open(paymentSuccessModal)"><span class="ff-bold fs-14px">PAY SECURELY</span></button>
    </ng-container>
</app-footer>

<ng-template #paymentSuccessModal let-modal>
    <div class="modal-body">
        <div class="row">
            <div class="col text-center">
                <img class="pay-success-icon" src="assets/images/deposit.svg"><br><br><br>
                <span class="ff-medium sm-font">Payment successful</span><br><br>
                <span class="ff-regular">A premium of <span class="ff-bold">Rs 8,587</span> has been deposited in your Healthshield Insurance</span><br><br>
                <span class="ff-regular fs-14px gray-text">Transaction ID: 104453</span>
            </div>
        </div>
    </div>
</ng-template>
