/* You can add global styles to this file, and also import other style files */
:root {
    --light-accent: #F5EAE6;
    --dark-accent: #FFCCB9;
    --blue-bg-1: #F4F6FA;
    --blue-theme-color: #003366;
    --alt-blue-text: #000137;
    --red-bg: #FF0000;
    --gray-border-color: #00000029;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

/* flex-center */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* common font-sizes */
.font-1rem {
    font-size: 1rem;
}

.sm-font {
    font-size: 1.25rem;
}

.smd-font {
    font-size: 1.313rem;
}

.md-font {
    font-size: 1.5rem;
}

.lg-font {
    font-size: 1.563rem;
}

/* common margin styles */
.tm-1rem {
    margin-top: 1rem;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-48 {
    margin-bottom: 48px;
}

/* common padding styles */
.padding-1rem {
    padding: 1rem;
}

.pt-20 {
    padding-top: 20px;
}