/* You can add global styles to this file, and also import other style files */
:root {
    --light-accent: #F5EAE6;
    --dark-accent: #FFCCB9;
    --blue-bg-1: #F4F6FA;
    --blue-bg-2: #DDEEFF;
    --blue-theme-color: #003366;
    --alt-blue-text: #000137;
    --red-bg: #FF0000;
    --gray-text: #5C5D73;
    --alt-gray-text: #909090;
    --alt-gray-text-1: #919191;
    --alt-gray-text-2: #6C6C6C;
    --gray-border-color: #00000029;
    --light-gray-border: #ccc;
    --alt-light-gray-border: #ECECEC;
    --med-gray-border: #9F9F9F;
    --black-bg: #222;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.zoom-one-half {
    -moz-transform: scale(1.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 0 0;
    transform: scale(1.5); /* Standard Property */
    transform-origin: 0 0;  /* Standard Property */
}

.invert {
    transform: rotate(180deg);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--blue-theme-color) !important;
    background-color: var(--blue-theme-color) !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #adb5bd !important;
}

.custom-control-label {
    font-family: RobotoRegular;
    font-size: 1rem;
    color: darkgray;
    right: 1rem;
    width: 40px;
}

/* flex-center */
.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* common color styles */
.alt-blacken {
    color: #222;
}

/* common font-sizes */
.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.font-1rem {
    font-size: 1rem;
}

.sm-font {
    font-size: 1.25rem;
}

.smd-font {
    font-size: 1.313rem;
}

.md-font {
    font-size: 1.5rem;
}

.lg-font {
    font-size: 1.563rem;
}

/* common margin styles */
.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-1rem {
    margin-top: 1rem;
}

.mt-24 {
    margin-top: 24px;
}

.mt-0 {
    margin-top: 0;
}

.mr-auto {
    margin-right: auto;
}

.mr-24 {
    margin-right: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-0 {
    margin-bottom: 0;
}

/* common padding styles */
.padding-1rem {
    padding: 1rem;
}

.pt-20 {
    padding-top: 20px;
}

/* common header and footer styles */
.header {
    z-index: 2;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px var(--gray-border-color);
}

.navbar {
    width: 100vw;
    padding: 3.65px 1rem !important;
}

.kotak-logo {
    width: 90px;
    height: 30px;
    margin: 0;
}

.navbar-item-gray-text {
    color: var(--alt-gray-text-2);
    font-size: 0.875rem;
}

.navbar-item-blue-text {
    color: var(--blue-theme-color);
    font-size: 0.875rem;
}

.ftr-back-img {
    width: 7px;
    height: 1rem;
}

.back-btn {
    float: left;
    color: darkgray !important;
    font-family: RobotoRegular;
    font-size: 1rem !important;
}

.footer-btn {
    float: right;
    color: #fff !important;
    background-color: var(--red-bg) !important;
    width: 8.875rem;
    height: 2.75rem;
    margin: 0.875rem 1.5rem;
    border-radius: 1.875rem !important;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 4.5rem;
    background-color: #fff;
    border-top: solid 1px var(--gray-border-color);
}

/* common container styles */
.container {
    width: 100%;
    height: 86vh;
    margin: 0;
    padding: 0;
    background-color: var(--blue-bg-1);
    overflow-x: hidden;
    overflow-y: auto;
}

.form-container {
    margin: 1rem 0;
}

form {
    border: 1px solid #EEE;
    border-radius: 5px;
    background-color: #fff;
}