<div class="container" *ngIf="!firstFormSubmitted && !secondFormSubmitted; else additionalFill">
    <span class="ff-bold sm-font alt-blacken">Residence Details</span>
    <div class="form-container">
        <div class="card aadhaar-details-card" (click)="enterAadhaarDetails()">
            <div class="row">
                <div class="col-10">
                    <span class="ff-bold sm-font">Pull details from Aadhaar</span><br>
                    <span class="ff-regular fs-12">This will also help you in your KYC verification</span>
                </div>
                <div class="col-2">
                    <img class="aadhaar-pull-icon" src="assets/images/pull-aadhaar-arrow.svg" alt="pull">
                </div>
            </div>            
        </div>

        <span class="mt-1rem flex-center"><span class="long-hyphen">__</span> <span class="or-text">Or</span> <span class="long-hyphen">__</span></span>
        <div class="mt-1rem card manual-details-card">
            <div class="row">
                <div class="col-10">
                    <span class="ff-bold sm-font">Enter address manually</span><br>
                    <span class="ff-regular fs-12">Fill the details manually</span>
                </div>
                <div class="col-2">
                    <a (click)="isManualEntryCollapsed = !isManualEntryCollapsed">
                        <img class="collapser-icon" [ngClass]="{'invert': !isManualEntryCollapsed}" src="assets/images/chevron-down.svg" alt="pull">
                    </a>
                </div>
            </div>    
            
            <div [ngbCollapse]="!isManualEntryCollapsed" class="mt-1rem">
                <form class="manual-form" [formGroup]="residenceDetailsForm">
                    <div class="row">
                        <div class="col">
                            <span class="ff-regular fs-14">Current Address</span>
                            <input class="mt-0 mb-0" formControlName="addressLine1" placeholder="Address Line 1">
                            <input class="mt-1rem mb-0" formControlName="addressLine2" placeholder="Address Line 2">
                            <input class="mt-1rem mb-0" formControlName="landmark" placeholder="Landmark">
                            <input class="mt-1rem mb-0" formControlName="pincode" placeholder="Pincode">
                            <div class="formField mt-1rem">
                                <div ngbDropdown>
                                    <input [ngClass]="{'errorInput': formSubmitted && residenceDetailsForm.get('city').hasError('required') }" class="dropdown-toggle mt-0 mb-1rem" readonly ngbDropdownToggle formControlName="city" placeholder="City" required><span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let city of cities" value="city.value" (click)="assignDropdownVal('city', city.label)">{{ city.label }}</button>
                                    </div>
                                </div>
                                <p class='errorMsg city-err' *ngIf="formSubmitted && residenceDetailsForm.get('city').hasError('required')">City field is required
                                </p>
                            </div>
                            <div class="formField">
                                <div ngbDropdown>
                                    <input [ngClass]="{'errorInput': formSubmitted && residenceDetailsForm.get('state').hasError('required') }" class="dropdown-toggle mt-0 mb-1rem" readonly ngbDropdownToggle formControlName="state" placeholder="State" required><span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let state of states" value="state.value" (click)="assignDropdownVal('state', state.label)">{{ state.label }}</button>
                                    </div>
                                </div>
                                <p class='errorMsg state-err' *ngIf="formSubmitted && residenceDetailsForm.get('state').hasError('required')">State field is required
                                </p>
                            </div>
                            <div>
                                <label class="checkbox small">
                                  <input type="checkbox" name='sameAddress' [(ngModel)]='sameAddress' [ngModelOptions]="{standalone: true}">
                                  <div class="blue fs-14px">
                                      Your permanent address same as current address
                                  </div>
                                  <span class="tick"></span>
                                </label>
                                <p class='errorMsg' *ngIf="formSubmitted && !sameAddress">
                                  * This field is required 
                                </p>
                            </div>
                        </div>

                        <div class="col mt-1rem" *ngIf="!sameAddress">
                            <span class="ff-regular fs-14">Permanent Address</span>
                            <input class="mt-0 mb-0" formControlName="addressLine1" placeholder="Address Line 1">
                            <input class="mt-1rem mb-0" formControlName="addressLine2" placeholder="Address Line 2">
                            <input class="mt-1rem mb-0" formControlName="landmark" placeholder="Landmark">
                            <input class="mt-1rem mb-0" formControlName="pincode" placeholder="Pincode">
                            <div class="formField mt-1rem">
                                <div ngbDropdown>
                                    <input [ngClass]="{'errorInput': formSubmitted && residenceDetailsForm.get('city').hasError('required') }" class="dropdown-toggle mt-0 mb-1rem" readonly ngbDropdownToggle formControlName="city" placeholder="City" required><span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let city of cities" value="city.value" (click)="assignDropdownVal('city', city.label)">{{ city.label }}</button>
                                    </div>
                                </div>
                                <p class='errorMsg city-err' *ngIf="formSubmitted && residenceDetailsForm.get('city').hasError('required')">City field is required
                                </p>
                            </div>
                            <div class="formField">
                                <div ngbDropdown>
                                    <input [ngClass]="{'errorInput': formSubmitted && residenceDetailsForm.get('state').hasError('required') }" class="dropdown-toggle mt-0 mb-1rem" readonly ngbDropdownToggle formControlName="state" placeholder="State" required><span ngbDropdownToggle></span>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem *ngFor="let state of states" value="state.value" (click)="assignDropdownVal('state', state.label)">{{ state.label }}</button>
                                    </div>
                                </div>
                                <p class='errorMsg state-err' *ngIf="formSubmitted && residenceDetailsForm.get('state').hasError('required')">State field is required
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #additionalFill>
    <div *ngIf="!secondFormSubmitted else finalFill" class="container">
        <span class="ff-bold sm-font">Other Details</span>
        <div class="form-container">
            <form class="padding-1rem mt-1rem" [formGroup]="otherDetailsForm">
                <div class="row">
                    <div class="col">
                        <div class="block">
                            <p>Are you a citizen of any other country also <span class="ff-bold">(dual / multiple) ?</span></p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='otherCitizen' value="Yes" formControlName='otherCitizen'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='otherCitizen' value="No" formControlName='otherCitizen'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='otherCitizen == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Are you a resident <span class="ff-bold">(for tax purposes)</span> of any other country other than India?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='otherTaxResident' value="Yes" formControlName='otherTaxResident'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='otherTaxResident' value="No" formControlName='otherTaxResident'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='otherTaxResident == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Do you hold a <span class="ff-bold">green card of US or any similar card</span> for any other country?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='greenCardHolder' value="Yes" formControlName='greenCardHolder'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='greenCardHolder' value="No" formControlName='greenCardHolder'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='greenCardHolder == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Do you have any history of <span class="ff-bold">conviction under any criminal proceedings</span> in India or abroad?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='criminalHistory' value="Yes" formControlName='criminalHistory'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='criminalHistory' value="No" formControlName='criminalHistory'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='criminalHistory == undefined && error'> * This field is required </p>
                            </div>
                        </div>

                        <div class="block mt-24">
                            <p>Are you a <span class="ff-bold">Politically Exposed Person</span> or a close relative of Politically Exposed Person?</p>
                            <div class="formField">
                                <label class="radioTick small">
                                <input type="radio" name='politicallyExposed' value="Yes" formControlName='politicallyExposed'>
                                <div> Yes </div>
                                <span class="tick"></span>
                                </label>
                                <label class="radioTick small">
                                <input type="radio" name='politicallyExposed' value="No" formControlName='politicallyExposed'>
                                <div>
                                    No
                                </div>
                                <span class="tick"></span>
                                </label>
                                <p class="errorMsg" *ngIf='politicallyExposed == undefined && error'> * This field is required </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #finalFill>
    <div class="container">
        <span class="ff-bold sm-font">Nominee Details</span>
        <div class="form-container">
            <form class="padding-1rem mt-1rem" [formGroup]="nomineeDetailsForm">
                <div class="row">
                    <div class="col">
                        <span class="ff-bold fs-14px">Nominee 1</span>
                        <div class="formField">
                            <input type="text" placeholder="Enter your Full Name" formControlName="fullName"
                            [ngClass]="{'errorInput': formSubmitted && nomineeDetailsForm.get('fullName').hasError('required') }">
                            <label class="input_label">Full Name</label>
                        </div>
                        <p class='errorMsg' *ngIf="formSubmitted && nomineeDetailsForm.get('fullName').hasError('required')">
                        Name field is required </p>

                        <span class="ff-regular fs-14">Relationship with you</span>
                        <div class="formField">
                            <div ngbDropdown>
                                <input [ngClass]="{'errorInput': formSubmitted && nomineeDetailsForm.get('relationship').hasError('required') }" class="dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="relationship" placeholder="Select Relation" required><span ngbDropdownToggle></span>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let relationship of relationships" value="relationship.value" (click)="assignDropdownVal('relationship', relationship.label)">{{ relationship.label }}</button>
                                </div>
                            </div>
                            <p class='errorMsg relationship-err' *ngIf="formSubmitted && nomineeDetailsForm.get('relationship').hasError('required')">Relationship field is required
                            </p>
                        </div>

                        <div class="formField calendar">
                            <span class="fs-14"> Date of birth </span>
                            <input [ngClass]="{'errorInput': formSubmitted && nomineeForm.get('birthdate').hasError('dateVaidator') || formSubmitted && nomineeForm.get('birthdate').hasError('required') }" class="m-0" readonly placeholder="DD/MM/YYYY" formControlName="birthdate"
                                ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" (ngModelChange)='ageCalc()' [minDate]="minDate">
                            <span class="icon" (click)="datePicker.toggle()"></span>
                            <p class='errorMsg' *ngIf="formSubmitted && nomineeForm.get('birthdate').hasError('required')">Date of birth field is required
                            </p>
                            <p class='errorMsg' *ngIf="formSubmitted && nomineeForm.get('birthdate').hasError('dateVaidator')">Please enter a valid date</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()" [disabled]="!isManualEntryCollapsed">PROCEED</button>
    </ng-container>
</app-footer>
