.container {
    height: 80vh;
}

.aadhaar-details-card {
    background-color: var(--blue-bg-2);
    border: none;
    border-radius: 5px;
    padding: 25px 1rem;
}

.aadhaar-pull-icon {
    width: 44px;
    height: 44px;
    margin: 0;
    position: absolute;
    right: 1rem;
}

.long-hyphen {
    color: darkgray;
    position: relative;
    bottom: 6px;
}

.or-text {
    color: var(--red-bg);
    padding: 0 8px;
}

.manual-details-card {
    border: none;
    border-radius: 5px;
    padding: 25px 1rem;
}

.collapser-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1.35rem;
}

.manual-form {
    border: none;
}

.relationship {
    height: 48px;
    margin-bottom: 24px;
}

.appointee-card {
    padding: 1rem;
    background-color: var(--blue-bg-1);
    border: none;
}

.aadhaar-fetched-card {
    border: none;
    padding: 20px;
    background-color: #fff;
}

.aadhaar-profile-photo {
    width: 80px;
    height: 80px;
    margin: 0;
}

.figure-caption {
    margin-top: 1rem;
    color: #101010;
}

hr {
    width: -webkit-fill-available;
    color: #eee;
}

.address-edit-icon {
    width: 14px;
    height: 14px;
    margin: 0;
}