.container {
    height: 80vh;
}

.aadhaar-details-card {
    background-color: var(--blue-bg-2);
    border: none;
    border-radius: 5px;
    padding: 25px 1rem;
}

.aadhaar-pull-icon {
    width: 44px;
    height: 44px;
    margin: 0;
    position: absolute;
    right: 1rem;
}

.long-hyphen {
    color: darkgray;
    position: relative;
    bottom: 6px;
}

.or-text {
    color: var(--red-bg);
    padding: 0 8px;
}

.manual-details-card {
    border: none;
    border-radius: 5px;
    padding: 25px 1rem;
}

.collapser-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1.35rem;
}

.manual-form {
    border: none;
}