<div class="container" *ngIf="!firstFormSubmitted; else additionalFill">
    <span class="ff-bold sm-font alt-blacken">Residence Details</span>
    <div class="form-container">
        <div class="card aadhaar-details-card" (click)="enterAadhaarDetails()">
            <div class="row">
                <div class="col-10">
                    <span class="ff-bold sm-font">Pull details from Aadhaar</span><br>
                    <span class="ff-regular fs-12">This will also help you in your KYC verification</span>
                </div>
                <div class="col-2">
                    <img class="aadhaar-pull-icon" src="assets/images/pull-aadhaar-arrow.svg" alt="pull">
                </div>
            </div>            
        </div>

        <span class="mt-1rem flex-center"><span class="long-hyphen">__</span> <span class="or-text">Or</span> <span class="long-hyphen">__</span></span>
        <form class="padding-1rem mt-1rem" [formGroup]="residenceDetailsForm">
            <div class="row">
                <div class="col">
                    <div class="card manual-details-card">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #additionalFill>

</ng-template>

<app-footer>
    <ng-container ngProjectAs='[footer]'>
        <button type="button" class="btn back-btn mt-12" (click)="navigateBack()"><img class="ftr-back-img" src="assets/images/back.svg" alt="back">Back</button>
        <button type="button" class="btn footer-btn" (click)="navigate()">PROCEED</button>
    </ng-container>
</app-footer>
